<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Roberto Alves</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.webp" type="image/x-icon" />
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body>
    
    <i onclick="mostrar(this)" class="fa fa-moon-o fa-2x night_mode"></i>

    <img id="userPhoto" src="assets/imagens/FotoRobertoAlves.webp" alt="Foto de Roberto Alves">

    <spam id="userName">Roberto Alves</spam>

    <div id="links">
        <a class="link" href="https://tecinova.top" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-rocket" aria-hidden="true"></i> Startup TECiNOVA</a>
        <a class="link" href="https://leituradiaria.top" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-book" aria-hidden="true"></i> Meditações para Católicos</a>
        <a class="link" href="https://robertoalves.top" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-bullhorn"></i> Marketing Digital & Vendas Online</a>
    </div>

    <div class="footer">
         <a href="tel:+5573999384167" target="_blank">
            <i style="line-height: 38px;" class="fa  fa-phone  circulo" aria-hidden="true"></i>
        </a>
         <a href="https://api.whatsapp.com/send?phone=5573999384167" target="_blank">
            <i style="line-height: 38px;" class="fa fa-whatsapp circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/robertoads/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-linkedin circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/robertoalves.top/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-facebook-f circulo" aria-hidden="true"></i>
        </a>
         <a href="https://www.instagram.com/robertoalves.top" target="_blank">
        <i style="line-height: 38px;" class="fa  fa-instagram  circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/@robertoads" target="_blank">
         <i style="line-height: 38px;" class="fa  fa-youtube  circulo" aria-hidden="true"></i>
        </a>
              <a href=" https://t.me/robertoalves2" target="_blank">
           <i style="line-height: 38px;" class="fa  fa-telegram  circulo" aria-hidden="true"></i>
    </a>
         <a href="mailto:ola@robertoalves.top" target="_blank">
            <i style="line-height: 38px;" class="fa fa-envelope-o circulo" aria-hidden="true"></i>
        </a>
      
          <!--a href="https://twitter.com/" target="_blank">
         <i style="line-height: 38px;" class="fa  fa-twitter  circulo" aria-hidden="true"></i>
    </a-->
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>
