<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veritas - Homescooling</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/52431911f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="main">
        <div class="img-container">
            <img src="./veritas.jpg" alt="" class="img">
        </div>
        <a href="#" class="username">@veritaseduca</a>
        
        <section class="some-icons-container">
            <a href="https://web.facebook.com/veritaseduca" class="some-link facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/veritaseduca/" class="some-link instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCqR3cth3sv2DX-YTT4ncqyA" class="some-link youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://t.me/veritaseduca" class="some-link github"><i class="fab fa-telegram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5573988093967" class="some-link github"><i class="fab fa-whatsapp"></i></a>
            <a href="mailto:veritaseduca@pm.me" class="some-link github"><i class="fas fa-envelope"></i></a>
            <a href="tel:+5573988093967" class="some-link github"><i class="fas fa-phone"></i></a>
           
            <a href="https://youtu.be/3poXClcp5yI?t=3098" class="external-link">
                Afinal, os pais que não vacinarem seus filhos poderão perder a guarda deles? Sobre fala terrorista e inconstitucional do juiz Evandro Pelarin
                <h2 class="external-link__header">Pingos nos Is da Jovem Pan em 30/12/2021</h2>
            </a>
            <a href="https://rumble.com/vrzo39-cientista-expe-a-verdade-sobre-a-aplicao-de-vacinas-em-crianas-de-5-a-11-an.html" class="external-link">
                Vídeo Cientista Dr. José Augusto Nasser na audiência pública do Ministério da Saúde sobre a aplicação do "imunizante" em crianças de 5 a 11 anos.
                <h2 class="external-link__header">Spoiler: Mesmo depois do exposto pelos verdadeiros médicos o ministro Queiroga pôs a "vacina" experimental no Plano Nacional de Imunizações</h2>
             </a>
               <a href="http://pni.datasus.gov.br/calendario_vacina_Infantil.asp" class="external-link"> 
               Calendário Básico de Vacinação da Criança
              <h2 class="external-link__header">Será que o experimento genético já aparece?</h2>
             </a>
            <a href="https://anprotec.org.br/site/2021/09/programa-ideiaz-divulga-projetos-selecionados-no-segundo-ciclo/" class="external-link">
               Resultado do programa no qual fomos selecionados 
               <h2 class="external-link__header">Ministério da Economia/Anprotec/Sebrae/Inovativa...</h2>
            </a>
        </section>
    </main>
</body>
</html>
