<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veritas - Homescooling</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/52431911f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="main">
        <div class="img-container">
            <img src="./veritas.jpg" alt="" class="img">
        </div>
        <a href="#" class="username">@veritaseduca</a>
        
        <section class="some-icons-container">
            <a href="https://web.facebook.com/veritaseduca" class="some-link facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/veritaseduca/" class="some-link instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCqR3cth3sv2DX-YTT4ncqyA" class="some-link youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://t.me/veritaseduca" class="some-link github"><i class="fab fa-telegram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5573988093967" class="some-link github"><i class="fab fa-whatsapp"></i></a>
            <a href="mailto:veritaseduca@pm.me" class="some-link github"><i class="fab fa-envelope"></i></a>
            <a href="tel:+5573988093967" class="some-link github"><i class="fab fa-phone"></i></a>
           
            <a href="https://youtu.be/3poXClcp5yI?t=3098" class="external-link">
                Afinal, os pais que não vacinarem as crianças podem perder a guarda dos seus filhos? Sobre fala terrorista e inconstitucional do juiz Evandro Pelarin
                <h2 class="external-link__header">Pingos nos Is da Jovem Pan em 30/12/2021</h2>
            </a>
            <a href="#" class="external-link">
                Ajude a gente nesta batalha! Baixe imagens para compartilhar em suas mídias digitais ou mande fazer sua camiseta.
                <h2 class="external-link__header">Kit de materiais</h2>
            </a>
            <a href="https://anprotec.org.br/site/2021/09/programa-ideiaz-divulga-projetos-selecionados-no-segundo-ciclo/" class="external-link">
               Resultado do programa no qual fomos selecionados 
               <h2 class="external-link__header">Ministério da Economia/Anprotec/Sebrae/Inovativa</h2>
            </a>
            <a href="#" class="external-link">
                Considere nos ajudar financeiramente para que possamos viabilizar projetos da nossa startup de homescooling.
                <h2 class="external-link__header">Transparência</h2>
            </a>
        </section>
    </main>
</body>
</html>
